.item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}

.item:not(:first-child) {
  padding-top: 0;
}

.naming {
  color: #929490;
  font-weight: 500;
  margin: 0 0 5px 10px;
}

.field {
  color: #b1afad;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid #a9aaa6;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
